

/* Los selectores tienen jerquía: */
/* Primero el id, luego clase, luego etiquetas */

/* * Es selector universal, osea que aplica para todo */
* {
    color:blue;
}
/* Selector por etiqueta. Se puede a uno o varios */
h1 {
    color: red;
}
h2, h3{
    color: green;
}

/* Selector descendiente  */
div p{
    color: purple;
}

/* Selector de clase, para acceder se usa .NombreClase */
.grey{
    color:grey;
    font-size: 20px; /*Tam de la letra*/
}
/* Selector de id,para acceder se usa #NombreId */
#enlace{
    color:blue;
    font-size: 40px;
}

